<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/ruphan.png">

  </head>
  <body>
    <div class="animation-wrapper" style="z-index: -1">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
    </div>

    <div class="wrapper">
      <header>
        <img src="assets/img/ruphan.png" alt="Ruphan" loading="lazy" style="width: 200px; height: 200px; border-radius: 30%;">
        <h1><a href="{{ site.baseurl }}{% link about.md %}">Ruphan Swaminathan</a></h1>
        <div class="categories">
            <div class="about">
                <a href="{{ site.baseurl }}{% link about.md %}">About</a>
            </div>
            <div class="publications">
                <a href="{{ site.baseurl }}{% link publications.md %}">Publications</a>
            </div>
            <div class="researchprojects">
                <a href="{{ site.baseurl }}{% link projects.md %}">Projects</a>
            </div>
          ______________
        </div>  
      </header>

      <section>
      {{ content }}
      </section>

      <footer>
        <a href="https://www.linkedin.com/in/ruphan-swaminathan" target="_blank" title="LinkedIn">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="https://www.github.com/ruphan" target="_blank" title="GitHub">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="mailto:ruphan.swaminathan@gmail.com" target="_blank" title="Email">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a href="https://scholar.google.com/citations?user=eA75TlQAAAAJ&hl=en" target="_blank" title="Google Scholar">
          <i class="fa fa-graduation-cap " aria-hidden="true"></i>
        </a>
      </footer>

    </div>
  </body>
</html>
