<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  </head>
  <body>
    <div class="animation-wrapper" style="z-index: -1">
      <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
      <div class="particle particle-3"></div>
    </div>

    <div class="wrapper">
      <header>
        <h1><a href="{{ site.baseurl }}{% link index.md %}">Senthur Raj</a></h1>
        <div class="categories">
            <div class="about">
                <a href="{{ site.baseurl }}{% link about.md %}">About</a>
            </div>
            <div class="publications">
                <a href="{{ site.baseurl }}{% link publications.md %}">Publications</a>
            </div>
            <div class="researchprojects">
                <a href="{{ site.baseurl }}{% link researchprojects.md %}">Research Projects</a>
            </div>
            <div class="opensourceprojects">
                <a href="{{ site.baseurl }}{% link opensourceprojects.md %}">Open-source</a>
            </div>
            <div class="gallery">
              <a href="#">Gallery</a>
          </div>
        </div>  
      </header>

      <section>
      {{ content }}
      </section>

      <footer>
        <div id="ctwrapper">
          <div class="bt_wrap">
            <div class="box">
              <a href="mailto:imsenthur@gmail.com" target="_blank"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
              <a href="mailto:imsenthur@gmail.com" target="_blank"><i class="icon2 fa fa-envelope" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="bt_wrap">
            <div class="box">
              <a href="https://www.linkedin.com/in/imsenthur" target="_blank"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/imsenthur" target="_blank"><i class="icon2 fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="bt_wrap">
            <div class="box">
              <a href="https://www.github.com/imsenthur" target="_blank"><i class="icon fa fa-github" aria-hidden="true"></i></a>
              <a href="https://www.github.com/imsenthur" target="_blank"><i class="icon2 fa fa-github" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="bt_wrap">
            <div class="box">
              <a href="#"><i class="icon fa fa-download" aria-hidden="true"></i></a>
              <a href="#"><i class="icon2 fa fa-download" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

  </body>
</html>
